* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  background: linear-gradient(to bottom, #f3e9f1, #e6d3e6);
  text-align: center;
}

/* Header */
header {
  background-color: #800000;
  color: white;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 4px solid #d4af37;
}

/* Hero Section */
.hero {
  padding: 20px;
}

.logo {
  width: 250px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 28px;
  color: #800000;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #333;
}

/* Main Button */
.main-btn {
  background: #d4af37;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Form Section */
.form-section {
  background: #fff;
  padding: 30px;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Date Input */
.date-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.date-container input {
  padding: 10px;
  background: #800000;
  color: white;
  border: none;
  border-radius: 10px;
}

/* Form Rows */
.row {
  background: #d4af37;
  padding: 15px;
  margin: 12px 0;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row input[type="text"],
.row select {
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 60%;
  font-size: 16px;
  color: #333;
}

/* Submit Button */
.submit-btn {
  background: #800000;
  color: white;
  border: none;
  padding: 14px 45px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #a00000;
}
